---
import Layout from '../layouts/Layout.astro'
---
<Layout title="About the project">

<h1>About the project</h1>

<p> This project is a simple web application that allows users to create, read, update, and delete (CRUD) notes. The application is built using the MERN stack (MongoDB, Express, React, Node.js). The backend is a RESTful API built using Node.js and Express. The frontend is built using React. The database is MongoDB. The application is hosted on Heroku. </p>

</Layout>